<div class="container" style="margin-top: 100px; color: white">
  <div *ngIf="team">
    <img height="175" src="{{ team.logo.mainName.svg }}" />
  </div>
  <app-comments></app-comments>
  <br />
  <div
    infiniteScroll
    [alwaysCallback]="true"
    [infiniteScrollDistance]="3"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <table *ngIf="team" class="table">
      <tbody>
        <tr *ngFor="let match of matches">
          <td>{{ match.scores[0].value }}</td>
          <td>{{ match.competitors[0].abbreviatedName }}</td>
          <td>{{ match.competitors[1].abbreviatedName }}</td>
          <td>{{ match.scores[1].value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    *ngIf="team"
    [ngStyle]="{ 'background-color': team.colors.primary.color }"
    class="btn"
    type="button"
    (click)="goBack()"
  >
    Return
  </button>
</div>
